[submodule "aniapi"]
	path = aniapi
	url = https://github.com/pyw0w/AniApi
[submodule "anicore"]
	path = anicore
	url = https://github.com/pyw0w/AniCore
[submodule "docs"]
	path = docs
	url = https://github.com/pyw0w/AniDocs.git
