# Environment variables
.env

# Rust build artifacts
/target/
**/*.rs.bk
Cargo.lock

# IDE files
.idea/
.vscode/
*.swp
*.swo
*~
# Plugins (ignore compiled files but keep source dirs)
/plugins/*.dll
/plugins/*.so
/plugins/*.dylib
# !/plugins/.gitkeep # Uncomment if you want to keep an empty plugins dir in git

/plugins/test_plugin

/config/

# OS files
.DS_Store
Thumbs.db

