[submodule "aniapi"]
	path = aniapi
	url = https://github.com/pyw0w/AniApi
[submodule "anicore"]
	path = anicore
	url = https://github.com/pyw0w/AniCore
[submodule "docs"]
	path = docs
	url = https://github.com/pyw0w/AniDocs.git
[submodule "plugins/utils_plugin"]
	path = plugins/utils_plugin
	url = https://github.com/pyw0w/AniUtils.git
[submodule "plugins/voicetemp_plugin"]
	path = plugins/voicetemp_plugin
	url = https://github.com/pyw0w/AniVoiceTemp
[submodule "aniruntime"]
	path = aniruntime
	url = https://github.com/pyw0w/AniRuntime.git
[submodule "anidashboard"]
	path = anidashboard
	url = https://github.com/pyw0w/AniDashBoard
[submodule "plugins/news_plugin"]
	path = plugins/news_plugin
	url = https://github.com/pyw0w/AniNews
[submodule "plugins/games_plugin"]
	path = plugins/games_plugin
	url = https://github.com/pyw0w/AniGames
